// -------------------------
// CSS VARIABLES
// -------------------------
$maincolor: black;
$contrastcolor: white;
$pinkcolor: rgba(216, 26, 219, 0.975);

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}
  
@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

// -------------------------
// HEADER
// -------------------------
.navBar {
    @include white-text-black-bg;
    overflow: hidden;
    a {
        @include white-text-black-bg;
        margin: 1.5em 0.5em;
        padding: 0em 1em;
        font-size: large;
        text-decoration: none;
        float: left;
    }
    a:hover {
        box-shadow: 0 12px 10px 0 $pinkcolor;
    }
    a.active {
        background-color: #04AA6D;
        color: white;
    }
    .homeLink {
        text-transform: uppercase;
    }
    .split {
        float: right;
    }
    .icon {
        display: none;
    }
}

// RESPONSIVE NAV 
@media screen and (max-width: 600px) {
    .navBar a:not(:first-child) {display: none;}
    .navBar a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .navBar.responsive {position: relative;}
    .navBar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navBar.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin: none;
    }
}


// -------------------------
// MAIN
// -------------------------


.ctn {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

// SONG INDEX PAGE
.SongIndex {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
        width: 100px;
    }
    a {
        text-decoration: none;
        color: black;
        h3 {
            margin-left: 2em;
        }
    }
}

table {
    text-transform: capitalize;
    th {
        margin: 3em 0;
        padding: 1em;
        font-size: 25px;
    }
    tr:hover{
        background-color: #f6f2ff;
    }
    img {
        width: 50px;
    }
    td {
        padding: 1em;
        text-align: left;
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .sortHeader {
        cursor: pointer;
    }
}

// SONG SHOW
.songTitle {
    text-transform: capitalize;
}
p {
    font-size: 18px;
}

// FORM
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 1em;
    input {
        width: 300px;
        padding: 1em;
        margin-top: 1em;
        border: 0;
        border-radius: 1em;
        box-sizing: border-box;
        box-shadow:0 0 20px 5px rgba(0,0,0,0.3);
        font-size: 1em;
        padding: 1em 2em;
    }
    input[type=submit] {
        width: 250px;
    }
}
.errorMsg {
    color: darkred;
  }
.submitBtn {
    margin: 2em 0em;
    padding: 1em 0em;
    background-color: rgba(150, 0, 150, .3);
    outline: none;
    border: none;
    border-radius: .25em;
    filter: drop-shadow(0 2px 2px grey);
    color: white;
    font-weight: 800;
    font-size: 1em;
    cursor: pointer;
}
.submitBtn:hover {
    filter: drop-shadow(0 2px 2px white);
}

//SEARCH FORM
.searchFormCtn {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .searchForm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        input {
            width: 300px;
            border: 0;
            border-radius: 1em;
            box-sizing: border-box;
            box-shadow:0 0 20px 5px rgba(0,0,0,0.3);
            font-size: 1em;
            padding: 1em 2em;
        }
        input[type=submit] {
            width: 100px;
            padding: 0 0;
            margin: 0 1em;
            font-weight: 600;
        }
        input[type=submit]:hover{
            background-color: #ebc6ff;
        }
    }
}
.clearBtn{
    margin: 0;
    padding: 0;
    width: 100px;
    border: 0;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow:0 0 20px 5px rgba(0,0,0,0.3);
    font-size: 1em;
    font-weight: 600;
}
.clearBtn:hover {
    background-color: #ebc6ff;
}

// HOMEPAGE
.containerImage {
    position: relative;
    height: 100vh;
    background-image: url("https://media.tenor.com/_ghn0Sr3fh0AAAAd/music.gif");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.containerImage::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
.homeContainer {
    position: relative;
    
}
.home {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
        margin: 1em 0em;
    }
}

.loader {
    margin-top: 20vh;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid rgba(150, 0, 150, .3);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

//ARTIST PAGE
.artistContainer {
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .artist {
        margin: 2em;
        img {
            margin: 2em;
            padding: 2em;
            width: 30vw;
            border-radius: 50%;
            box-shadow: 0 0 20px 10px $pinkcolor;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 18px;
        }
    }
}

//ARTIST SHOW
.artistSong {
    display: inline-grid;
    grid-template-columns: 1.2fr 1fr;
    column-gap: 20px;
    .gridItem {
        justify-self: start;
        align-self: center;
    }
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    table {
        .sortHeader {
            font-size: 18px;
        }
    }
    .artistContainer {
        .artist {
            img {
                margin: 1em;
                padding: 1em;
                width: 40vw;
    
            }
            h1 {
                margin-top: 1em;
                font-size: 25px;
            }
        }
    }
}
