// -------------------------
// CSS VARIABLES
// -------------------------
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}
  
@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

// -------------------------
// HEADER
// -------------------------
nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;
    a {
        @include white-text-black-bg;
        margin: 1.5em;
        font-size: large;
        text-decoration: none;
        
    }
    a:hover {
        box-shadow: 0 18px 16px 0 rgba(216, 26, 219, 0.975);
    }
    div {
        margin: 1.5em;
        font-size: large;
        
    }
}

// -------------------------
// MAIN
// -------------------------


.container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

// SONG INDEX PAGE
.SongIndex {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
        width: 100px;
    }
    a {
        text-decoration: none;
        color: black;
        h3 {
            margin-left: 2em;
        }
    }
}

table {
    text-transform: capitalize;
    th {
        margin: 3em;
        padding: 1em;
    }
    img {
        width: 50px;
    }
    td {
        padding: 1em;
        text-align: left;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

// FORM
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 1em;
    input {
        width: 300px;
        padding: 1em;
        margin-top: 1em;
        border: 0;
        border-radius: 1em;
        box-sizing: border-box;
        box-shadow:0 0 20px 5px rgba(0,0,0,0.3);
        font-size: 1em;
        padding-left: 2em;
    }
    input[type=submit] {
        width: 250px;
    }
}
.errorMsg {
    color: darkred;
  }
.submitBtn {
    margin: 2em 0em;
    padding: 1em 0em;
    background-color: rgba(150, 0, 150, .3);
    outline: none;
    border: none;
    border-radius: .25em;
    filter: drop-shadow(0 2px 2px grey);
    color: white;
    font-weight: 800;
    font-size: 1em;
    cursor: pointer;
}
.submitBtn:hover {
    filter: drop-shadow(0 2px 2px white);
}

// HOMEPAGE
.containerImage {
    position: relative;
    //background-image: url("https://thumbs.gfycat.com/AcclaimedHeartfeltGoat-max-1mb.gif");
    //background-size: 100%;
    height: 100vh;
    background-image: url("https://media.tenor.com/_ghn0Sr3fh0AAAAd/music.gif");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.containerImage::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
.homeContainer {
    position: relative;
    
}
.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 2;
    
}



.loader {
    margin-top: 20vh;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid rgba(150, 0, 150, .3);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}